body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}
.logo img {
    width: 150px;
}
h2 {
    margin: 10px 0;
}
p {
    font-size: 14px;
    color: gray;
}
.input-container {
    position: relative;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.input-container input {
    width: 100%;
    padding: 12px;
    padding-right: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
}
.input-container .icon {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}
button {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #FF8400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #FF8400;
}
.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #FF8400;
    text-decoration: none;
}
.error {
    color: red;
    font-size: 14px;
}