.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dashboard-header h2 {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}



.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    min-width: 230px;
    height: auto;
    transition: .3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card--data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card h1 {
    font-size: 25px;
    margin-top: 15px;
}

.card--icon--lg {
    font-size: 80px;
}

.card--stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.card--stats span {
    display: flex;
    align-items: center;
}

.card--icon {
    margin-right: 5px;
}

.stat--icon {
    color: #5f5ce0;
}

.up--arrow {
    color: #70d7a5;
}

.down--arrow {
    color: #e86786;
}

.card-1 {
    background-color: rgba(80, 115, 251, .1);
}

.card-1 .card--title {
    color: rgba(80, 115, 251, 1);
}

.card-1 .card--icon--lg {
    color: rgba(80, 115, 251, .4);
}

.card-2 {
    background-color: rgba(241, 210, 67, .1);
}

.card-2 .card--title {
    color: rgba(241, 210, 67, 1);
}

.card-2 .card--icon--lg {
    color: rgba(241, 210, 67, .4);
}

.card-3 {
    background-color: rgba(112, 215, 165, .1);
}

.card-3 .card--title {
    color: rgba(112, 215, 165, 1);
}

.card-3 .card--icon--lg {
    color: rgba(112, 215, 165, .4);
}

.card-4 {
    background-color: rgba(227, 106, 200, .1);
}

.card-4 .card--title {
    color: rgba(227, 106, 200, 1);
}

.card-4 .card--icon--lg {
    color: rgba(227, 106, 200, .4);
}

.chart-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    height: 45%;
}

.chart {
    width: 100px;
    flex: 1;
    background-color: #fff;
    padding: 60px 30px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.section {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payroll-input {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.payroll-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-btn {
    background-color: #f57c00;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e65100;
}